<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

tmsvn.rb diff --revision=: "$TM_FILEPATH" --send-to-mate &gt;&amp; /dev/null &amp;</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>name</key>
	<string> Diff Revisions…</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>discard</string>
	<key>scope</key>
	<string>attr.scm.svn</string>
	<key>semanticClass</key>
	<string>action.scm.diff</string>
	<key>uuid</key>
	<string>C7802039-B3C4-11D9-8D63-000A95A89C98</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
