<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>if [ "$TM_SELECTED_FILES" ]
then
	eval tmsvn.rb diff --revision=? "$TM_SELECTED_FILES" --send-to-mate &gt;&amp; /dev/null &amp;
else
	tmsvn.rb diff --revision=? "${TM_PROJECT_DIRECTORY:-TM_DIRECTORY}" --send-to-mate &gt;&amp; /dev/null &amp;
fi</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^A</string>
	<key>name</key>
	<string> Diff With Revision…</string>
	<key>output</key>
	<string>discard</string>
	<key>uuid</key>
	<string>32E15B26-B444-11D9-8D63-000A95A89C98</string>
</dict>
</plist>
