<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>tmsvn_bootstrap.sh -d diff --revision=: "$TM_FILEPATH" --send-to-mate</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^A</string>
	<key>name</key>
	<string> Diff Revisions…</string>
	<key>output</key>
	<string>discard</string>
	<key>uuid</key>
	<string>C7802039-B3C4-11D9-8D63-000A95A89C98</string>
</dict>
</plist>
