<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

if [ "$TM_SELECTED_FILES" ]
then
	eval tmsvn.rb info "$TM_SELECTED_FILES"
else
	tmsvn.rb info "${TM_PROJECT_DIRECTORY:-TM_DIRECTORY}"
fi</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>name</key>
	<string>Info</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>discard</string>
    <key>requiredCommands</key>
    <array>
    	<dict>
    		<key>command</key>
    		<string>svn</string>
    		<key>locations</key>
    		<array>
    			<string>/opt/local/bin/svn</string>
    			<string>/usr/local/bin/svn</string>
    		</array>
    		<key>variable</key>
    		<string>TM_SVN</string>
    	</dict>
    </array>
	<key>scope</key>
	<string>attr.scm.svn</string>
	<key>semanticClass</key>
	<string>action.scm.info</string>
	<key>uuid</key>
	<string>56BE2092-806D-11D9-A0FB-0011242E4184</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
