<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>if [ "$TM_SELECTED_FILES" ]
then
	eval tmsvn.rb info "$TM_SELECTED_FILES"
else
	tmsvn.rb info "${TM_PROJECT_DIRECTORY:-TM_DIRECTORY}"
fi</string>
	<key>dontFollowNewOutput</key>
	<true/>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^A</string>
	<key>name</key>
	<string>Info</string>
	<key>output</key>
	<string>discard</string>
	<key>uuid</key>
	<string>56BE2092-806D-11D9-A0FB-0011242E4184</string>
</dict>
</plist>
